numpy>=1.12
lxml
requests
bs4
utm
mgrs
python-dateutil
tifffile
future
shapely
planet
geojson
enum34 
features 
filelock
matplotlib 
scipy 
pyproj 
#pyFFTW==0.10.4 
scikit-image 
numba 
pillow 
opencv-contrib-python~=4.5.3.56
ad
pandas 
ipywidgets 
ipyleaflet
setuptools
rasterio
srtm4
llvmlite==0.31.0
