numpy>=1.12
lxml
requests
bs4
utm
mgrs
python-dateutil
tifffile
future
shapely
planet
geojson
enum34 
features 
filelock
matplotlib 
scipy 
pyproj 
pyfftw 
scikit-image 
numba 
pillow 
opencv-contrib-python==3.4.0.12
ad
pandas 
ipywidgets 
ipyleaflet
setuptools
rasterio

